{
  "core": {
    "singbox": {
      "outbounds": [
        {
          "tag": "proxy",
          "domain_strategy": "",
          "flow": "",
          "packet_encoding": "xudp",
          "server": "<ADDRESS>",
          "server_port": 443,
          "type": "vless",
          "uuid": "",
          "tls": {
            "enabled": true,
            "server_name": "<SNI>",
            "utls": {
              "enabled": true,
              "fingerprint": "firefox"
            }
          },
          "transport": {
            "path": "/",
            "type": "ws",
            "headers": {
              "Host": "<HOSTNAME>"
            }
          }
        }
      ]
    }
  }
}