services:
  junction:
    build:
      context: .
      dockerfile: Dockerfile
      target: standalone
    command: ["junction", "--config=/config.toml", "-d"]
    volumes:
      - ./config.toml:/config.toml:ro
    ports:
      - 5453:5453/udp
      - 5453:5453/tcp
      - 80:80
      - 443:443
    environment:
      - ZAPLOG_LEVEL=debug
    env_file:
      - .env
  openvpn:
    profiles:
      - "ovpn"
    image: ghcr.io/fmotalleb/openvpn-client:v0.1.0
    command: ["-D"]
    restart: unless-stopped
    cap_add:
      - net_admin
    network_mode: "service:junction"
    volumes:
      # text file,
      #   first line = username
      #   second line = password
      #<Username>
      #<Password>
      - ./vpn.secret.auth:/vpn/vpn.auth
      # OpenVpn config file
      - ./vpn.secret.conf:/vpn/vpn.conf

  # dns:
  #   image: fmotalleb/cord-locator:v2.0.11
  #   ports:
  #     - 53:53/udp
  #   configs:
  #     - source: cord-locator
  #       target: /app/config.yaml
